@layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 47.4% 11.2%;
      --primary: 262 83% 42%;
      --primary-foreground: 0 0% 100%;
      --border: 214 32% 91%;
      --input: 214 32% 91%;
      --ring: 262 83% 42%;
      --radius: .75rem;
    }
    .dark {
      --background: 222 84% 5%;
      --foreground: 210 40% 98%;
      --primary: 262 83% 65%;
      --primary-foreground: 0 0% 0%;
      --border: 217 33% 18%;
      --input: 217 33% 18%;
      --ring: 262 83% 65%;
    }
  }
  